.action__container{
    -ms-grid-column-align:start;
    padding: 1.875rem 2.5rem;
    margin-bottom: 5rem;
    margin-top: 5rem;
    margin-left: 5rem;
    column-gap: normal;
    text-transform: uppercase;
    margin: 10px;
    border-radius: 10px;
    justify-content:center;
    height: 10px;
    margin-left: 1px;
    min-height: 10vh;
    cursor: pointer;
    font-style:normal;
    font-family: "Play", sans-serif;
    font-size:x-large;
    gap: 10px;
    align-items:center;
}
.action__container h2{
    text-align: center;
    justify-content:center;
    max-height: 60vh;
    color: black;
}
.item{
    font-size:x-large;
}
body {
    max-height: 50vh;
    margin: 10;
    margin:auto;
    margin-top: 5rem;
    font-family: "Play", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    background-color:lavender;
    text-align:center;
    flex-direction: column;
    position: relative;
    align-items: center;
  }
  