.app-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
    text-decoration-color: black;
    background-color: lavender;
    
  }
  body{
    background-color: lavender;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
    cursor: pointer;
    border-style:double;
    table-layout: fixed;
    text-decoration-color: black;
  }
  
  th,
  td {
    border: 1px solid #ffffff;
    text-align: left;
    padding: 8px;
    font-size: 20px;
  }
  
  th {
    background-color: rgba(117, 20, 139, 0.407);
  }
  
  td {
    background-color: rgb(239, 245, 248);
  }
  
  form {
    display: flex;
    gap: 5px;
  }
  
  form td:last-child {
    display: flex;
    justify-content: space-evenly;
  }
  
  form * {
    font-size: 28px;
  }